<body>
  <div>
    <%=image_tag"logoweb.png", :class => "logos"%>
    <div>
      <h3> Amsterdam Barcelona Lisbon</h3>
    <div>
      <h2>For Business Enquires :</h2>
    </div>
    <div>
      <h1> <A HREF="mailto:info@livlisbonagency.com"' style='color: white; text-decoration: none '>info@livlisbonagency.com</A></h1>
    </div>
  </div>
  <p>© <%= Date.today.year %> LIV Lisbon Agency</p>
</body>
